#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*target*

*.war
*.ear
*.class

# eclipse specific git ignore

.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
[Ss]ervers/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
*.mar
*.aar
RemoteSystemsTempFiles/**

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*/*.iml
*.iws

# Maven
log/
target/
.idea/workspace.xml

# Selenide
build/reports/tests
config.propeties
